* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f41e1e;
  --text-color: #fff;
  --beg-color: #141414;
  --tranition-slow: all 0.4s;
  --tranition-fast: all 0.6s;
}

/* navbar */
.navbar {
  height: 90px;
  width: 100%;
  background-color: var(--beg-color);
  display: flex;
  align-items: center;
  padding: 0 12%;
  border: none;
  box-shadow: none;
  position: fixed;
  inset: 0;
  z-index: 999;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}

.logo h2 {
  margin: 0;
}

.logo h2 a {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.logo h2 a span {
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: none;
}

.menu li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  border-radius: 30px;
  width: 0;
  background-color: var(--primary-color);
  transition: var(--tranition-slow);
}

.menu li:hover::after {
  width: 100%;
}
.nav_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_icons i {
  color: var(--text-color);
  font-size: 1.3rem;
  transition: var(--tranition-slow);
  cursor: pointer;
}
.nav_icons i:hover {
  color: var(--primary-color);
}
#toggle {
  display: none;
}
@media screen and (max-width: 900px) {
  #toggle {
    display: block;
    color: var(--text-color);
    background: var(--primary-color);
    padding: 12px;
    font-size: 1.5rem;
  }
  .nav_icons {
    display: none;
  }
  .menu {
    position: absolute;
    height:0;
    overflow: hidden;
    flex-direction: column;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: var(--beg-color);
    width: 100%;
    gap: 0;
    transition: var(--tranition-slow);
  }
  .menu li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .menu li a {
    padding-left: 12%;
  }
  .active {
    height: 350px;
    opacity: 1;
  }
}
