* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f41e1e;
  --text-color: #fff;
  --beg-color: #141414;
  --tranition-slow: all 0.4s;
  --tranition-fast: all 0.6s;
}
body {
  background-color: var(--beg-color);
}
/* custom css */
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 12%;
}
.section_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: lighten;
  padding-top: 7rem;
}

.section_title {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-color);
}
.section_title span {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
}

.section_title h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.section_title p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #dadada;
  padding-bottom: 30px;
}

/* navbar */
.navbar {
  height: 90px;
  width: 100%;
  background-color: var(--beg-color);
  display: flex;
  align-items: center;
  padding: 0 12%;
  border: none;
  box-shadow: none;
  position: fixed;
  inset: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 999;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
}

.logo h2 {
  margin: 0;
}

.logo h2 a {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.logo h2 a span {
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: none;
}

.menu li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  border-radius: 30px;
  width: 0;
  background-color: var(--primary-color);
  transition: var(--tranition-slow);
}

.menu li:hover::after {
  width: 100%;
}
.nav_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_icons i {
  color: var(--text-color);
  font-size: 1.3rem;
  transition: var(--tranition-slow);
  cursor: pointer;
}
.nav_icons i:hover {
  color: var(--primary-color);
}
#toggle {
  display: none;
}
/*Hero section  */
.Hero {
  min-height: 100vh;
}
.Hero_Swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Hero-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hero_item2 .Hero_title h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
  padding: 20px 0;
}
.Hero {
  height: 100vh;
  width: 100%;
  background-color: var(--beg-color);
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 12%;
  overflow: hidden;
}
.Hero_bth {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.Hero_img img {
  width: 80%;
  height: 80%;
}
.btn {
  height: 55px;
  width: 180px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--tranition-fast);
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
}
.btn2 {
  height: 55px;
  width: 180px;
  border: none;
  color: var(--white-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: var(--tranition-fast);
  text-transform: uppercase;
  border-radius: 100px;
  padding: 10px;
  border: 1px solid var(--primary-color);
}
.btn2:hover {
  background-color: var(--primary-color);
}
@media screen and (max-width: 1400px) {
  .Hero_title h2 {
    font-size: 3.3rem !important;
    line-height: 5rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .section_title h1 {
    font-size: 2.5rem !important;
    line-height: 6rem !important;
  }
  .Hero {
    flex-direction: column;
  }
  .Hero_title {
    width: 100%;
  }
  .Hero-item2 .Hero_title h2 {
    font-size: 3.3rem !important;
    line-height: 5rem !important;
  }
  .Hero-item {
    flex-direction: column-reverse;
  }
  .Hero-item .Hero_title h2 {
    font-size: 3.3rem !important;
    line-height: 5rem !important;
  }
  .Hero-item {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .Hero_img img {
    width: 55%;
  }
  .Hero_img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  #toggle {
    display: block;
    color: var(--text-color);
    background: var(--primary-color);
    padding: 12px;
    font-size: 1.5rem;
  }
  .nav_icons {
    display: none;
  }
  .menu {
    position: absolute;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: var(--beg-color);
    width: 100%;
    gap: 0;
    transition: var(--tranition-slow);
  }
  .menu li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .menu li a {
    padding-left: 12%;
  }
  .active {
    height: 312px;
    opacity: 1;
  }
  .section_title h2{
    font-size: 4.5rem !important;
    line-height: 4rem !important;
  }
  .Hero-item2 .Hero_title h2 {
    font-size: 4.5rem !important;
    line-height: 4rem !important;
  }
  .Hero-item .Hero_title h2 {
    font-size: 3rem !important;
  }
}
@media screen and(max-width:768px) {
  .section_title span {
    font-size: 1rem;
  }
  .section_title h2 {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }

  }
  @media  screen and(max-width:500px) {
    .Hero_img img {
      width: 90% !important;
    }
    .Hero_item2 .Hero_title h2
  }
